.container {
  margin: 1rem auto;
  max-width: 1400px;
}

.current-shows {
  display: grid;
  grid-gap: 16px;
  grid-template: auto / repeat(6, 1fr);
}

.card-content-main {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 100%);
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  padding: .5rem;
  position: absolute;
  top: 10%;
  transform: translateY(5px);
  transition: .2s;
  z-index: 1;
}
.card:hover .card-content-main {
  opacity: 1;
  transform: translateY(0);
}

.card-content-summary {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 0;
}
