* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.3rem;
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

.app {
  padding: 1rem;
}

.app.dark {
  background: #131319;
  color: #f6f6f6;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 1rem 0;
}

.container {
  margin: 1rem auto;
  max-width: 1400px;
}

.current-shows {
  display: grid;
  grid-gap: 16px;
  grid-template: auto / repeat(6, 1fr);
}

.card-content-main {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 100%);
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  padding: .5rem;
  position: absolute;
  top: 10%;
  transform: translateY(5px);
  transition: .2s;
  z-index: 1;
}
.card:hover .card-content-main {
  opacity: 1;
  transform: translateY(0);
}

.card-content-summary {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 0;
}

.cast-container {
  display: grid;
  grid-gap: 1rem;
  grid-template: auto / repeat(6, 1fr);
}

.cast-member-credits {
  display: grid;
  grid-gap: 1rem;
  grid-template: auto / repeat(6, 1fr);
}

.cast-member-main {
  display: flex;
  gap: 1rem;
}

.cast-member-main__text > * {
  margin-top: 0;
}

.show-gallery {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.show-gallery__img {
  max-width: 400px;
  width: 100%;
}

.show-main-info {
  display: flex;
  gap: 1rem;
}

.show-main-info__text {
  max-width: 500px;
}

.show-main-info__text > * {
  margin-top: 0;
}